<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
<div style="margin:100px;">
    <div class="jumbotron"  style="padding:40px;">
        <h3>{{title}}</h3>
        <h4>{{message}}</h4>
    </div>

</div>
</body>
</html>